manifest {
	author = "Audrey Dickinson, Christian Schudoma, Daniel Podlesny"
	defaultBranch = "main"
	description = "AMR"
	name = "windjamr"
	nextflowVersion = ">=24"
	version = "0.1.0"
}

params {
	output_dir = "output"
	amrfinder_db = "/g/bork6/dickinson/argnorm_prep/containers/AMRFinder_DB/2025-07-16.1"
	rgi_db = "/g/bork6/dickinson/argnorm_prep/containers/localDB"
	deeparg_db = "/g/bork6/dickinson/argnorm_prep/containers/deeparg_DB"
}